@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to my page Assignment – Query with Dapper</p>


    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Select assignment</h4>
                    <select id="select_category">
                        @foreach (var item in ViewBag.Assignments)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="col-sm">
                    <h4>Description</h4>
                    <div class="description"></div>
                </div>

                <div class="col-sm">
                    <h4>Optional input</h4>

                    For dynamic values if I have time
                </div>
            </div>

            <div class="border">
                <div class="content">RESPONSE</div>
            </div>
        </div>


    </div>
    @section scripts {
        <script src="~/js/home.js" asp-append-version="true"></script>
    }
</div>

